{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "google",
    "prettier"
  ],
  "rules": {
    "prefer-arrow-callback": "error",
    "require-jsdoc": "off"
  }
}
