html,
body,
#root,
.bg-light {
  height: 100%;
}

.nav-link {
  cursor: pointer;
}

.dropZone {
  border: 2px dashed var(--bs-secondary);
}

.vmh-90 {
  max-height: 90vh !important;
}

/* SurveyJS */
.sv_main .sv_container {
  color: inherit !important;
}
span.sv_q_required_text {
  color: red;
}

.small > .sv-string-viewer {
  padding: 0.5em 1em 1.5em;
}

/* for dark mode */
.sv_main,
.sv_main .sv_custom_header,
.sv_main
  input:not([type='button']):not([type='reset']):not([type='submit']):not(
    [type='image']
  ):not([type='checkbox']):not([type='radio']),
.sv_main textarea {
  background-color: transparent !important ;
}
